.ImgContain{
    display: flex;
    margin-left: 10%;
    padding-top: 10vh;
    width: 90vw;
    -webkit-animation:slide-in-right 3s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-right 3s cubic-bezier(.25,.46,.45,.94) both;
    
}

.StudyGroupImg{
    width: 100%;
    
}