.mainVidContain{
    display: flex;
    margin-left: 10vw;
    padding-top: 10vh;
    width: 80vw;
    height: 85vh;
}



.mainVideoContain{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.titleBar{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;

}

.mainVideoName{
margin: 0px;
height: fit-content;
white-space: nowrap;
width: fit-content;
margin-right: 5%;
}

.line{
    height: 1px;
    background-color: #02012F;
    width: 100%;
    margin-right: 5%;
}

.likeContain{

}

.likeButton{
    width: 100%;
}


.embedContain{
    margin-top: 1%;
    width: 95%;
    height: 100%;
}


.channelInfoContain{
    margin-top: 1%;
    display: flex;
    height: 10%;
    align-items: center;
}

.profilePicContain{
height: 80%;
margin-right: 2%;
border-radius: 50%;
border: 5px solid white;
}

.profilePic{
    height: 100%;
}

.channelTextContain{

display: flex;
align-items: center;

}

.descriptionContain{
    display: flex;
    width: 100%;
    height: 20%;
    overflow-y: scroll;
    border-left: solid 2px #02012F;;
}

.descriptionTextContain{
    font-size: 1em;
    margin: 0px;
    margin-left: 1%;
}

/////////// Right Side


.mainRight{
    width: 35%;
    margin-top: 2%;
}

.studyContain{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.studyVidContain{
 display: flex;
 align-items: center;
 width: 95%;
 margin-left: 5%;
 margin-top: 2%;
 cursor: pointer;
}

.studyImgContain{
    width: 10%;
    margin-right: 10%;
}

.studyImg{
    width: 100%;
}

.segmentHeader{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    height: 100%;
}

.relatedContain{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.mainResultContain{
    display: flex; 
    flex-direction: column;
    width: 25vw;
    height: 70vh;
    overflow-y: scroll;
}

.mainSearchCard{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    margin-top: 2%;
    margin-left: auto;
    justify-content: space-evenly;
    border-style: solid;
    border-radius: 5px;
    border: #02012F 4px thin;
    text-decoration: none;
    border-color: #02012F;;
}



//////////////////////////////////////// QUIZ

.optionContain{
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100%;
}

.answer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vw;
    width: 3vw;
    
    border: 1px #02012F solid;
    border-radius: 50%;
    box-shadow: none;
    cursor: pointer;
}

.answerButtonText{
    margin: 0px;
}

.answerText{
    margin-left: 5%;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.right{
    color: green;
    margin-left: auto;
}

.wrong{
    color: red;
    margin-left: auto;
}