.header {
    position: fixed;
    display: flex;
    height: 10vh;
    width: 100vw;
    background-color: black;
    justify-content: start;
    align-items: center;
    z-index: 2;
}

.logoContain{
    margin-left: 5vw;
    display: flex;
    height: 70%;
    width:20%;
    background-color: cadetblue;
}