.loginContain{
display: flex;
padding-top: 10vh;
width: 90vw;
margin-right: 5vw;
margin-left: 5vw;
}

.formContain{
    margin-top: 10vh;
    height:70vh;
    width:30vw;
    background-color:#02012F;
    margin-left: 10vw;
}

.loginText{
padding-top: 25%;
width: 80%;
padding-left: 10%;
color: white;
font-size: 3.5em;
margin-bottom: 0%;
}

.loginForm{
display: flex;
flex-direction: column;
align-items: center;
height: 50%;

}

.loginInput{
    width: 80%;
    height: 10%;
    margin-top: 2%;
    border-radius: 40px;
    border-color: transparent;
    padding-left: 3%;
    font-size: 2em;
    
}

.bottomFormContain{
margin-top: 2%;
display: flex;
justify-content: space-evenly;
align-items: center;
width: 100%;
color: white;
font-weight: 500;
}

.loginBottomText{
margin: 0px;
}

.loginButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 30%;
    border-radius: 4px;
    background-color: #FADC31;
    border-color: transparent;
    color: #02012F;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
}

.registerContain{
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 35vw;
    height: 50vh;
    -webkit-animation:slide-in-right 3s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-right 3s cubic-bezier(.25,.46,.45,.94) both;
}

.signUpButton{
    width: 20%;
    height: 10%;
    background-color: #02012F;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 4px;
}

